<div>
  <ul class="messages">
    <li #message *ngFor="let message of messages.reverse()">
      <span [style.color]="message.sender_id === 'system' ? 'gray' : getUserIdColor(message.sender_id)">
        {{ message.user_name ? message.user_name : message.sender_id }}
      </span>: {{ message.text }}
    </li>
  </ul>

  <!-- Form for sending a message -->
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <input formControlName="newMessage" placeholder="Type your message" />
    <button type="submit">Send Message</button>
  </form>
</div>