div {
    background-color: #121212aa;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #333333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

input {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.messages {
    max-height: 500px; /* Adjust this value to fit your layout */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

.messages::-webkit-scrollbar {
    width: 8px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 4px;
}

.chat {
    width: 50%;
}
.chat {
    width: 50%;
}

