.container {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .info {
    margin-bottom: 20px;
  }
  
  
  @media (min-width: 768px) {
    .content {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .info {
      flex: 1;
      margin-right: 20px;
    }
  
    .chat {
      flex: 1;
      margin-left: 20px;
    }
  }
  
  /* Dark mode theme */
  div {
    /* background-color: #121212; */
    color: #ffffff;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }
  
  h2 {
    color: #ffffff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #333333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  input {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  a {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #0056b3;
  }
  
  .messages {
    max-height: 500px; /* Adjust this value to fit your layout */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
  }
  
  .messages::-webkit-scrollbar {
    width: 8px;
  }
  
  .messages::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 4px;
  }